.container {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 80vh;
 background: steelblue;
}
.content {
 background: #fff;
 padding: 1.5em;
 color: steelblue;
 font-weight: bold;
 border-radius: 10px;
}
h2 {
 font-size: 2rem;
}
p{
 font-size: 1.2rem;
}
